body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.center, .navbar, .navbar-top {
    text-align: center;
}

.navbar, .navbar-top {
    border-bottom: 1px rgb(234, 234, 234) solid;
}

.navbar {
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-item {
    margin: 0px 50px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item:hover {
    color: rgb(252, 170, 182);
}

.accent-color {
    color: rgb(255, 122, 144);
}

.background {
    background-image: url(assets/img/background-1.png);
}

.brand-logo {
    font-size: 250%;
}

.best-seller-img {
    margin: 40px 10px;
}

.tag-text {
    color: white;
    font-size: 50px;
    padding-top: 30px;
}