// Custom.scss
// Option A: Include all of Bootstrap

// main color-pallete
$vorskins-dark-purple: #1A1A1D;
$vorskins-dark-purple-subtle: #3B1C32;
$vorskins-primary: #6A1E55;
// $vorskins-light-purple: ;

// color theme modification
// $primary: $vorskins-primary;
// $body-bg-dark: $vorskins-dark-purple;

// modal modification;
$modal-fade-transform: scale(.95);
$modal-transition: transform 0.2s ease-in-out;

// accordion modification
$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: none;
$accordion-border-width: 0px;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// font-size modification
$added-font-size: (
    7: $font-size-base * 0.75
);

$font-sizes: map-merge($font-sizes, $added-font-size);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here